body,html{height: 100%;}

.headerText{text-align:center;
    background-image: url("images/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    color: seashell;
font-size:4em;}

.showHeader{display: none;}

.container{background-color: brown;
height: 900px;

}

.showCheckout{margin-left: 190px;
    margin-top: -26px;
;}
.showBeef{margin-left: 190px;
    margin-top: -31px;
padding: 10px;}

.showPineapple{margin-left: 190px;
    margin-top: -31px;
    padding: 10px;
    
    }
    .showCrust{
        margin-left: 190px;
        margin-top: -20px;
        ;
    }

    .showBeacon{margin-left: 190px;
        margin-top: -31px;
        padding: 10px;
        
        }
        .titleBeef{display: hidden;
            padding-bottom: 10px
;
        }
        .titlePineapple{display: hidden;
            padding-bottom: 10px;}
        .titleBeacon{display: hidden;
            padding-bottom: 10px;}
            .total{margin-left: 190px;
                margin-top: -31px;
                padding: 10px;}
                

        .hide{display: none;}
marquee{color:whitesmoke;}
